streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
chromadb
pypdf
python-dotenv
sentence-transformers
langchain-chroma
faiss-cpu
torch
torchvision
transformers==4.51.3
protobuf==3.20.3
