streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
chromadb==0.4.24
pypdf
python-dotenv
sentence-transformers
langchain-chroma
faiss-cpu
protobuf==3.20.3
 
